		#Cwrapper {
				min-width: 500px;
				min-height: 500px;
				overflow: hidden;	
			}
			#inner {
				position: absolute;
				display: none;
			}
			#inner.horizontal {
				width: 100%;
				height: 500px;
				margin: -210px 0 0 0;
				top: 50%;
				left: 0;
			}
			#inner.vertical {
				width: 420px;
				height: 100%;
				margin: 0 0 0 -210px;
				top: 0;
				left: 50%;
			}
			#carousel > div {
				width: 420px;
				height: 500px;
				float: left;
				position: relative;

			}
			
#carousel img {
    border-color: #170000;
    border-radius: 60px 60px 60px 60px;
    border-style: groove;
    border-width: 4px;
    display: block;
    height: 120px;
    position: relative;
    width: 120px;
}
			
			div.t1{
			left: 10px;
			top: 30px;
			position: absolute;
			}
			div.t2{
			left: 150px;
			top: 30px;
			position: absolute;
			}
			div.t3{
			left: 290px;
			top: 30px;
			position: absolute;
			}
			div.t4{
			left: 10px;
			top: 180px;
			position: absolute;
			}
			div.t5{
			left: 150px;
			top: 180px;
			position: absolute;
			}
			div.t6{
			left: 290px;
			top: 180px;
			position: absolute;
			}
			div.t7{
			left: 10px;
			top: 330px;
			position: absolute;
			}
			div.t8{
			left: 150px;
			top: 330px;
			position: absolute;
			}
			div.t9{
			left: 290px;
			top: 330px;
			position: absolute;
			}
			
			
			
			#left, #right, #up, #down {
				border: 5px solid #ccc;
				background: #fff;
				display: block;
				width: 30px;
				height: 60px;
				margin: -35px;
				position: absolute;
			}
			#left {
				top: 50%;
				left: 400px;
			}
			#right {
				top: 50%;
				right: 400px;
			}
			#up {
				top: 0;
				left: 50%;
			}
			#down {
				bottom: 0;
				left: 50%;
			}
			#left:after, #right:after, #up:after, #down:after {
				content: '';
				border: 5px solid transparent;
				display: block;
				width: 0;
				height: 0;
				margin: -5px;
				position: absolute;
			}
			#left:after {
				border-right-color: #ccc;
				border-right-width: 10px;
				margin-left: -10px;
				left: 50%;
				top: 50%;
			}
			#right:after {
				border-left-color: #ccc;
				border-left-width: 10px;
				margin-right: -10px;
				right: 50%;
				top: 50%;
			}
			#up:after {
				border-bottom-color: #ccc;
				border-bottom-width: 10px;
				margin-top: 0;
				top: 50%;
				left: 50%;
			}
			#down:after {
				border-top-color: #ccc;
				border-top-width: 10px;
				margin-bottom: 0;
				bottom: 50%;
				left: 50%;
			}
			
