/*Global Header CSS*/
body {
    background: url("/pbuddy/resources/images/bg.png") repeat scroll 0 0 rgba(0, 0, 0, 0)!important;
    color: #FFFFFF;
    font-family: HappinessRegular;
    font-size: 12px;
    font-weight: 400;
    margin: 0;
    padding: 0;
}
body>#header {
    background: url("/pbuddy/resources/images/header-bg.png") no-repeat scroll 0 -36px rgba(0, 0, 0, 0);
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
	height:158px;
}
body>#header .headerData {
    margin: 0 auto;
    position: relative;
    width: 1003px;
    z-index: 99;
}
.logoFig {
height:158px;
width:194px;
}

.nav {
    background: url("/pbuddy/resources/images/headernav.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: right;
    height: 81px;
    width: 325px;
	position: absolute;
	top:10px;
	right:0px;
}

.nav ul li.seprator {
    background: url("../images/seprator.png") no-repeat scroll right 0 rgba(0, 0, 0, 0);
    
}
.nav ul li, body> #header nav ul li a {
    color: #FFFFFF;
    display: table-cell;
    height: 42px;
    text-align: center;
    vertical-align: middle;
    width: 100px;
}
.nav ul li {
    font-size: 17px;
    line-height: 20px;
    padding: 0 10px;
    width: 100px;
}

body>  #header #nav ul {
    margin: 10px 0;
}
/*Global Footer CSS*/

#contentWrapper { 
min-height:90%;
height:auto !important;    
margin: 0 auto -50px;  /* Bottom value must = footer height */
}


#footer{
	display: table-cell;
	padding-left:190px;
}
#footer .head {
	background: url("../images/footer-left.png") no-repeat scroll left 0 rgba(0, 0, 0, 0);
    bottom: 0;
    color: #FFFFFF;
    font-family: arial;
    font-size: 12px;
    font-weight: bold;
    height: 50px;
	width:100px;
    
    padding-left: 72px;
    position: relative;
	height: 4em;
	float: left;
}
#footer .tail {
    background: url("../images/footer-right1.png") no-repeat scroll right 0 rgba(0, 0, 0, 0);
    height: 50px;
    padding: 5px 135px 0;
	width:615px;
	margin-left :122px;
}

#footer .tail ul  li{display: inline-block; padding-left: 30px;}
#footer .tail ul li a {
	 color: #FFFFFF;
}
html, body { width:100%; height:100%; }
#footer, .push { width:715px; height:50px; position:relative; bottom:0; }
/* Content place holder */


/*Home Page Main Section*/
#homePageDesign #wrapper {

min-height: 100%;
height: auto !important;
height: 100%;
margin: 0 auto -4em;
}
#parentArticleBlockContainer {
    background: url("/pbuddy/resources/images/narrow-article-top-bg.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    clear: both;
    margin: 0 auto;
    padding: 50px 0 87px;
    position: relative;
    width: 550px;
}
#parentArticleBlockContainer .leftIcon, #parentArticleBlockContainer .rightIcon {
    background: url("/pbuddy/resources/images/article-left-icon.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 76px;
    left: 60px;
    position: absolute;
    top: -34px;
    width: 74px;
}
#parentArticleBlockContainer .rightIcon {
    background: url("/pbuddy/resources/images/article-right-icon.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    left: auto !important;
    right: 0px;
}

#parentArticleBlockContainer .middleBg {
    background: url("/pbuddy/resources/images/narrow-article-middle-bg.png") repeat-y scroll 0 0 rgba(0, 0, 0, 0);
    bottom: 108px;
    left: 0;
    position: absolute;
    top: 196px;
    width: 550px;
}

#parentArticleBlockContainer .articlemiddleContainer {
    margin: 0 auto;
    position: relative;
    width: 475px;
}
.content-main, .ie6 .content-main {
    margin: 0 auto;
    min-height: 400px;
    width: 525px;
    z-index: 5;
}
.content-main .mainRotator{
padding-top:50px;
padding-left:125px;
}
.content-main .mainRotator img{
width:300px;
height:300px;
}
.articleBlockContainer  h1 {
    font-size: 25px !important;
    line-height: 30px !important;
    margin: -30px 196px !important;
}
h1, h2, h3, h4, h5 {
    color: #EF3128;
    font-family: HappinessRegular;
}
/*Profile Page CSS*/
body .profilecontainer .profileForm{ 
	float: left;
    height: 230px;
    padding-left: 65px;
    padding-top: 35px;
    border-color: #D40000;
    border-style: solid;
    border-width: 25px;
	background-color:#FFFFFF;
	color:#D40000;
}
body .profilecontainer .profilePhotoWrp{  
	float: left;
    width: 400px;
	padding-left: 180px;
    padding-right: 100px;
}
.profileForm ul{padding: 20px 0;}
.profileForm ul li {line-height:30px;}
.profileForm ul li span{float: right; padding:0 150px 0 15px;}	
.profileForm h4{font-size:15px;font-weight:bold;}